{{ define "main" }}

{{ partial "components/page-header" . }}

<!-- Who we are  -->
{{ with .Params.about_us }}
{{ if .enable }}
<section class="section pb-3">
  <div class="container-md">
    <div class="row gy-5 gy-lg-0 align-items-center justify-content-around">
      <div class="col-lg-5 order-2 order-lg-1">
        <div class="section-title">
          <h2 class="h3 title shape-start">{{ .title | markdownify }}</h2>
          <p>{{ .content | markdownify }}</p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-5 order-1 order-lg-2">
        {{ partial "image.html" (dict "Src" .image "Size" "480x520" "Class" "mx-auto d-block" ) }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}

<!-- Main Vision And Mission  -->
<!-- {{ with .Params.mission_vision }}
{{ if .enable }}
<section class="section section-light pt-0">
  <div class="container-md">
    <div class="row gy-5 gy-lg-0 align-items-center justify-content-around">
      <div class="col-sm-6 col-lg-5">
        {{ partial "image.html" (dict "Src" .image "Size" "480x520" "Class" "mx-auto d-block" ) }}
      </div>
      <div class="col-lg-5">
        <div class="section-title">
          <h2 class="h3 title shape-start">{{ .title | markdownify }}</h2>
          <p>{{ .content | markdownify }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }} -->



<!-- Core Values -->
{{ with .Params.corevalues }}
{{ if .enable }}
<section {{with .section_name}}id="{{.}}"{{end}} class="section pb-5">
  <div class="container-md">
    <div class="row justify-content-center">
      <div class="col-xl-6">
        <div class="section-title text-center">
          <h3 class="text-capitalize title">{{.title | markdownify}}</h3>
        </div>
      </div>
    </div>
    <div class="row pt-4 gy-5 gx-md-5 justify-content-center">
      {{ range .list }}
      <div class="col-sm-6 col-xl-5 text-center">
        <div class="shadow-sm bg-white h-100 rounded-3 p-3 p-lg-5">
          <i class="{{.icon}} fa-2xl text-primary mb-5"></i>
          <h3 class="h5 fw-semibold text-capitalize">{{ .name | markdownify }}</h3>
          <p>{{ .content | markdownify }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}

<!-- Our Team  -->
{{ with .Params.our_team }}
{{ if .enable }}
<section class="section pt-0 mt-5">
  <div class="container-md">
    <div class="row gy-5 gy-lg-0 align-items-center justify-content-around">
      <div class="col-lg-8 col-xl-8">
        <div class="section-title text-center">
          <h2 class="h3 title">{{ .title | markdownify }}</h2>
          <p>{{ .content | markdownify }}</p>
        </div>
      </div>
    </div>

    <div class="row gy-4">
      {{ range .members }}
      <div class="col-sm-6 col-lg-4">
        <div class="card mt-5 rounded-bottom rounded-3 overflow-hidden">
          {{ partial "image.html" (dict "Src" .image "Class" "card-img-top" ) }}
          <div class="card-body text-center py-4 px-5">
            <h5 class="card-title h6 mb-2">{{.name | markdownify }}</h5>
            <p class="card-text">{{ .designation | markdownify }}</p>
            <ul class="list-inline pt-3 mb-0 border-top">
              {{ range .social }}
              <li class="list-inline-item">
                <a href="{{ .link | safeURL }}" class="fs-4 text-muted icon opacity-50 p-2 p-sm-1 p-md-2 p-xl-3">
                  <i class="{{.icon}}"></i>
                </a>
              </li>
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}

<!-- We're all different  -->
{{ with .Params.why_us }}
{{ if .enable }}
<section class="section section-light pt-0">
  <div class="container-md">
    <div class="row gy-4 gy-xl-0 justify-content-center text-center">
      <div class="col-lg-9">
        {{ partial "image.html" (dict "Src" .image "Class" "card-img-top" ) }}
      </div>
      <div class="col-lg-8">
        <div class="section-title">
          <h2 class="h3 title px-xxl-5">{{ .title | markdownify }}</h2>
          <p>{{ .content | markdownify }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}

<!-- Gold Sponsors of Social Joy  -->
{{ with .Params.gold_sponsor }}
{{ if .enable }}
<section class="section pt-0">
  <div class="container-md">
    <div class="row gy-5 gy-lg-0 align-items-center justify-content-center">
      <div class="col-lg-5">
        {{ partial "image.html" (dict "Src" .image "Class" "d-block mx-auto" ) }}
      </div>
      <div class="col-lg-4">
        <div class="section-title">
          <h2 class="h3 title shape-start">{{ .title | markdownify }}</h2>
          <p>{{ .content | markdownify }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}

<!-- Get in Touch  -->
{{ with .Params.contact_us }}
{{ if .enable }}
<section class="section section-light pt-0">
  <div class="container-md">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <div class="section-title">
          <h2 class="h3 title">{{ .title | markdownify }}</h2>
          <p>{{ .content | markdownify }}</p>
        </div>
      </div>
    </div>
    <div class="row mt-5 gy-4 justify-content-center">
      <div class="col-lg-7 col-xxl-6">
        <div class="bg-white shadow-sm p-4 p-sm-5 rounded-3">
          <form class="row gy-4" method="POST" action="{{.form_action | safeURL}}">
            <div class="col-sm-6">
              <label for="firstName" class="form-label">First name</label>
              <input type="text" class="form-control text-muted opacity-75" id="firstName" placeholder="Jhon" required>
            </div>
            <div class="col-sm-6">
              <label for="lastName" class="form-label">Last name</label>
              <input type="text" class="form-control text-muted opacity-75" id="lastName" placeholder="Dhoe" required>
            </div>
            <div class="col-12">
              <label for="email" class="form-label">Work Email</label>
              <input type="email" class="form-control text-muted opacity-75" id="email"
                placeholder="jhondoe@example.com" required>
            </div>
            <div class="col-12">
              <label for="message" class="form-label">your message</label>
              <textarea rows="5" class="form-control text-muted opacity-75" id="message" placeholder="Type your message"
                required></textarea>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary w-100">Submit Now</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-5 col-xxl-4">
        {{ range .widgets }}
        <div class="bg-white shadow-sm p-4 rounded-3 contact-widget mb-4">
          <h3 class="h5 mb-4 fw-semibold"><i class="{{.icon}} text-primary me-2"></i>{{ .name | markdownify }}</h3>
          {{ with .content }}<p>{{ . | markdownify }}</p>{{ end }}
          <ul class="mb-0 list-unstyled">
            {{ range .bulletpoints }}
            <li>{{ . | markdownify }}</li>
            {{ end }}
          </ul>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}

{{ end }}