{{ define "main" }}

{{ with .Params.banner}}
{{ if .enable}}
<section class="section pb-xl-0" {{ partial `bg-image.html` (dict `Src` `images/banner-bg.png`) | safeHTMLAttr }}>
  <div class="container-md">
    <div class="row gy-5 justify-content-center justify-content-xl-between align-items-center">
      <div class="col-lg-11 col-xl-6 order-2 order-xl-0">
        <div class="section-title">
          <h2 class="h2 title shape-start">{{.title | markdownify}}</h2>
          <p>{{.content | markdownify}}</p>
          {{with .button}}
          {{if .enable}}
          <a href="{{.link}}" class="btn btn-primary">{{.label | markdownify}}</a>
          {{end}}
          {{end}}
        </div>
      </div>
      <div class="col-sm-6 col-lg-6 col-xl-5 order-1 order-xl-0">
        {{ partial "image.html" (dict "Src" .image) }}
      </div>
    </div>
  </div>
</section>
{{end}}
{{end}}

<!-- Faq  -->
{{with .Params.faq}}
{{if .enable}}
<section class="section">
  <div class="container-md">
    <div class="row gy-5 justify-content-center justify-content-xl-around align-items-center">
      <div class="col-lg-11 col-xl-6 order-2 order-xl-0">
        <div class="section-title">
          <h2 class="h3 title shape-start">{{.title | markdownify}}</h2>
          <div class="accordion accordion-flush" id="faq">
            {{range $i, $e:= .faq_content}}
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                  data-bs-target="#{{.title|urlize}}" aria-expanded="{{if eq $i 0}}true{{else}}false{{end}}"
                  aria-controls="{{.title|urlize}}">
                  <i class="fa-solid fa-chevron-right me-3 mb-1"></i> {{.title | markdownify}}
                </button>
              </h2>
              <div id="{{.title|urlize}}" class="accordion-collapse collapse {{if eq $i 0}} show {{end}}"
                data-bs-parent="#faq">
                <div class="accordion-body">{{.content | markdownify}}</div>
              </div>
            </div>
            {{end}}
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-6 col-xl-5 order-1 order-xl-0">
        {{ partial "image.html" (dict "Src" .image) }}
      </div>
    </div>
  </div>
</section>
{{end}}
{{end}}

<!-- You Need To Attract -->
{{with .Params.feature}}
{{if .enable}}
<section class="section section-light pt-0">
  <div class="container-md">
    <div class="row justify-content-center">
      <div class="col-xl-9">
        <div class="section-title text-center">
          <h3 class="text-capitalize title">{{.title | markdownify}}</h3>
        </div>
      </div>
    </div>
    <div class="row pt-4 gy-5 gx-md-5 justify-content-center">
      {{range .list}}
      <div class="col-sm-6">
        <div class="shadow-sm bg-white h-100 rounded-3 p-3 p-lg-5">
          <i class="{{.icon}} text-primary fs-2 mb-4"></i>
          <h3 class="h5 fw-semibold text-capitalize">{{.title}}</h3>
          <p>{{.content | markdownify}}</p>
        </div>
      </div>
      {{end}}
    </div>
  </div>
</section>
{{end}}
{{end}}

{{ if .Params.resources_we_have.enable }}
<!-- Resources we have -->
<section class="section pt-0">
  <div class="container-md">
    {{ with .Params.resources_we_have}}
    <div class="row justify-content-center">
      <div class="col-xl-9">
        <div class="section-title text-center">
          <h3 class="text-capitalize title">{{.title | markdownify}}</h3>
          <div>{{.content | markdownify}}</div>
        </div>
      </div>
    </div>
    {{ end }}
    <div class="row pt-4 gy-5 gx-md-5 justify-content-center">
      {{ range first 4 (where site.RegularPages "Section" .Params.resources_we_have.section) }}
      <div class="col-sm-6">
        <article class="blog-post-item card border-0">
          {{ partial "image.html" (dict "Class" "card-img-top" "Src" .Params.image) }}
          <div class="card-body mt-3 px-0">
            <div class="list-inline mb-1">
              {{ range .Params.categories }}
              <li class="list-inline-item">
                <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{.}}</a>
              </li>
              {{ end }}
              <li class="list-inline-item">{{.ReadingTime}} min read</li>
            </div>
            <h4 class="h5 mb-2">
              <a href="{{.RelPermalink}}" class="text-dark">{{ .Title }}</a>
            </h4>
            <p class="card-text">{{ .PublishDate.Format "2 Jan 2006" }}</p>
          </div>
        </article>
      </div>
      {{ end }}
      <div class="col-12 text-center">
        <a href="/resources/" class="btn btn-primary">View All</a>
      </div>
    </div>
  </div>
</section>
{{ end }}

<!-- Team Slider -->
{{with .Params.team_slider}}
{{if .enable}}
<section class="section section-light pt-0">
  <div class="container-md">
    <div class="row justify-content-center">
      <div class="col-xl-9">
        <div class="section-title text-center">
          <h3 class="text-capitalize title">{{.title | markdownify}}</h3>
        </div>
      </div>
      <div class="col-12">
        <div class="px-4">
          <div class="team-slider overflow-hidden p-0 mt-4 position-relative">
            <div class="swiper-wrapper">
              {{range .slider}}
              <div class="swiper-slide">
                <div class="card border-0 bg-transparent">
                  {{ partial "image.html" (dict "Class" "card-img-top" "Src" .image) }}
                  <div class="card-body text-center">
                    <h4 class="card-title fs-6 fw-bold mt-2">{{.title | markdownify}}</h4>
                    <p class="card-text fs-6 fw-semibold"><small>{{.designation | markdownify}}</small></p>
                  </div>
                </div>
              </div>
              {{end}}
            </div>
          </div>
          <div class="slider-button-prev position-absolute rounded-circle">
            <i class="fa-solid fa-chevron-left"></i>
          </div>
          <div class="slider-button-next position-absolute rounded-circle">
            <i class="fa-solid fa-chevron-right"></i>
          </div>
          <div class="slider-pagination mt-4"></div>
        </div>
      </div>
    </div>
  </div>
</section>
{{end}}
{{end}}


{{end}}